* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
    transition: 1s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.box .item:nth-child(n-9) {
    transform: translate3d(0, -100vw, 0);
}

.box .item:nth-child(10) {
    transform: translate3d(-100px, -100px, 0) rotate(5deg);
}

.box .item:nth-child(11) {
    transform: translate3d(-50px, -50px, 0) rotate(-15deg);
}

.box .item:nth-child(12) {
    transform: translate3d(0, 0, 0) rotate(15deg);
}

.box .item:nth-child(13) {
    transform: translate3d(50px, 50px, 0) rotate(-5deg);
}

.box .item:nth-child(n+14) {
    transform: translate3d(0, -100vw, 0);
}

.box .item::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    font-size: 5em;
    transition: 1s;
    font-weight: 800;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
    transform: translate3d(-50vw, 50vh, 0) rotate(0);
    opacity: 0;
}

.box .item:nth-child(13)::before {
    transform: translate3d(-150px, 250px, 0) rotate(5deg);
    opacity: 1;
}

a {
    display: flex;
    width: 250px;
    position: relative;
    background: #444;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    left: 35%;
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}